@using Tareas
@model List<Tareas.Model.Tarea>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}

<h1>@ViewData["Title"]</h1>
<p>Welcome to the Tareas Home page.</p>
<div class="container my-4">
    <h2 class="mb-4">Tareas</h2>
    
    <div class="d-flex flex-wrap align-items-end gap-2 mb-4">

        <!-- New -->
        <a asp-action="Create" class="btn btn-outline-success">
            <i class="bi bi-plus-circle"></i> New
        </a>

        <!-- Generate PDF -->
        <a id="generatePdfBtn" class="btn btn-outline-primary" href="javascript:void(0);" onclick="generatePdf()">
            <i class="bi bi-file-earmark-pdf"></i> Generate PDF
        </a>

        <!-- Combo Done -->
        <div>
            <select id="done" class="form-select form-select-sm" style="min-width: 140px;">
                <option value="all">All</option>
                <option value="done">All done</option>
                <option value="undone">All undone</option>
            </select>
        </div>

        <!-- Start date -->
        <div>
            <input type="date" id="desde" class="form-control form-control-sm" />
        </div>

        <!-- End date -->
        <div>
            <input type="date" id="hasta" class="form-control form-control-sm" />
        </div>

        <!-- Input field for recipient email, optional, it's not been checked -->
        <div id="emailInputDiv" style="margin-top: 10px;">
            <input type="email" id="recipientEmail" name="recipientEmail" placeholder="Enter recipient's email"
                   title="Optional" style="width: 100%; padding: 8px; font-size: 14px; border: 1px solid #ddd; border-radius: 4px;">
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th style="background-color: #e3f2fd;">Id</th>
                <th style="background-color: #e3f2fd;">Name</th>
                <th style="background-color: #e3f2fd;">Description</th>
                <th style="background-color: #e3f2fd;">Date</th>
                <th style="background-color: #e3f2fd;">Complete?</th>
                <th style="background-color: #e3f2fd; width: 80px;">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tarea in Model)
            {
                <tr>
                    <td>@tarea.Id</td>
                    <td>@tarea.Name</td>
                    <td>@tarea.Descripcion</td>
                    <td>@tarea.Date.ToString("yyyy/MM/dd")</td>
                    <td>
                        <input type="checkbox" disabled @(tarea.Done ? "checked" : "") />
                        <!-- Button to mark task as completed -->
                        @if (!tarea.Done) // Only show the button if the task is not completed
                        {
                            <a href="@Url.Action("MarkAsDone", "Home", new { id = tarea.Id })" class="btn btn-sm btn-outline-success" title="Mark as Done">
                                <i class="bi bi-check-circle"></i>Done
                            </a>
                        }
                    </td>
                    <td>
                        <div class="btn-container">
                            <!-- Modify Button -->
                            <a asp-action="Edit" asp-route-id="@tarea.Id" class="btn btn-sm btn-outline-primary modify-btn" title="Modify">
                                <i class="bi bi-pencil"></i>
                            </a>

                            <form method="post" action="@Url.Action("Delete", "Home", new { id = tarea.Id })" style="display:inline;" onsubmit="return confirm('¿Sure?');">
                                @Html.AntiForgeryToken() <!-- This ensures anti-forgery protection -->
                                <button type="submit" class="btn btn-sm btn-outline-primary white-bg" title="Delete">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <!-- Button to test Azure connection -->
    <form method="post" action="@Url.Action("TestConnection", "Azure")">
        <button type="submit" class="btn btn-primary">Test Azure Connection</button>
    </form>
    <!-- Display the result message if available -->
    @if (TempData["TestResult"] != null)
    {
        <div class="alert alert-info">
            @TempData["TestResult"]
        </div>
    }

</div>






